.navbar-nav
{
    .nav-item
    {
        .nav-link
        {
            color: rgba(255, 255, 255, 0.863);

            &.disabled
            {
                color: rgba(238, 238, 238, 0.753);
            }
        }
        &.active
        {
            .nav-link
            {
                color: white;
                font-weight: bold;
            }
        }
        &.hover
        {
            background-color:white;
            color: #007bff;
        }
    }
}